<template name= "map">
<div style="container">
  <div id="container" class="col-md-10 col-md-offset-1"></div>
  <div></div>
    <div id= "slider" class="col-md-4 col-md-offset-4">
      <h3>Global Climate Change: Year by Year</h3>
  <input class="bar" type="range" id="rangeinput" value="2016" min="1901" max="2009" onchange="rangevalue.value=value" />
  <span class="highlight"></span>
  <output id="rangevalue">1901</output>
  <h4>double click to get data <br> triple click to save color.</h4> <br>
    <a href="abraxasrex.github.io"><h5> jonathan reasor, 2015 </h5> </a>
</div>
</div>

</template>
