<template name= "map">

    <div id= "slider" class="col-md-3">
      <h3> Temperature Change from  <br>
        <output id="rangevalue1">1901</output> to <output id="rangevalue2"> 2009 </output> </h3>
        <br>
  <label for="range1"> Start Year: </label>
  <input class="bar" type="range" name="range1" id="rangeinput1" value="1901" min="1901" max="2009" onchange="rangevalue1.value=value" />
  <span class="highlight"></span>

  <br>
  <label for="range2"> End Year: </label>
  <input class="bar" type="range" name="range2" id="rangeinput2" value="2009" min="1901" max="2009" onchange="rangevalue2.value=value" />
  <span class="highlight"></span>

  <br>
    <h4>About:</h4>
    <ul>
      <li>- click a country to get climate change data</li>
      <br>
        <li>- triple click to set current color</li>
        <br>
        <li>- sometimes the national change from year to year is small or negative, but that doesn't make climate change on the whole any less serious.</li>
    </ul>
  </div>

  <div class="col-md-9 main">

    <div id="data_map" class=" col-md-12" style="height:550px;"></div>

    <div class="footer col-md-12">
    <h5>  <span class="worldbank"> Climate data provided courtesy of <a href="http://data.worldbank.org/topic/climate-change">World Bank</a> </span>
      <span id="github"> <a href="abraxasrex.github.io"> jonathan reasor, 2015 </a>
         <a href="github.com/abraxasrex"> Github </a> </span>
    </h5>
    </div>

  </div>
</template>
